.img-a,
.img-a-left,
.img-a-up,
.img-a-video {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.img-a-video {
  height: 100%;
}
.img-a-video .img-a-img:before {
  padding-top: 56.25%;
}

.img-a-bg-video,
.img-a-decor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-a-bg-video iframe,
.img-a-bg-video video {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.img-a-decor {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: $accent;
  z-index: 2;
}

.img-a-left .img-a-decor {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.img-a-img {
  position: relative;
  overflow: hidden;
}

.img-a-img:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 61.64%;
}

.img-a-img img,
.img-a-up .img-a-img img {
  width: 100%;
  // -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.img-a-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
}

.img-a-up .img-a-img img {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.img-not-a .img-a-img img {
  -webkit-clip-path: inherit;
  clip-path: inherit;
}

.a-hidden {
  opacity: 0;
}

.a-visible {
  opacity: 1;
}

.animated,
.beforeHeightUp:before {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.downFull {
  -webkit-animation-name: downFull;
  animation-name: downFull;
}

.upFull {
  -webkit-animation-name: upFull;
  animation-name: upFull;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
}

.beforeHeightUp:before {
  -webkit-animation-name: heightUp;
  animation-name: heightUp;
}

.widthGrowth {
  -webkit-animation-name: widthGrowth;
  animation-name: widthGrowth;
}

.a-delay-1 {
  animation-delay: 0.2s;
}

.a-delay-2 {
  animation-delay: 0.4s;
}

.a-delay-3 {
  animation-delay: 0.6s;
}

.a-delay-4 {
  animation-delay: 0.8s;
}

.a-delay-5 {
  animation-delay: 1s;
}

.a-delay-6 {
  animation-delay: 1.2s;
}

.a-delay-7 {
  animation-delay: 1.4s;
}

