// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors
$primary: #2f2f2f;
$secondary: #fff;
$accent: #A98442;
$background_color: #F5F6F1;
$border_color: #2f2f2f;
$heading_color: #2f2f2f;
$text_color: #2f2f2f;
$c-black: #000;
$c-red: #f00;
$c-purple: #5b256e;
$c-green: #6b903e;
$c-green--light: #bebf3e;
$c-grey: #8f8f8f;
$c-gray-06: #060606;
$c-gray-08: #080808;
$c-gray-0d: #0d0d0d;
$c-gray-10: #101010;
$c-gray-18: #181818;
$c-gray-2f: #2f2f2f;
$c-gray-21: #212121;
$c-gray-22: #222;
$c-gray-33: #333;
$c-gray-4a: #4a4a4a;
$c-gray-71: #717171;
$c-gray-76: #767676;
$c-gray-88: #888;
$c-white: #fff;
//Media query breakpoints
$viewport-sm: 375px;
$viewport-md: 768px;
$breakpoints: (
  "phone-xsmall": 320px,
  "phone-s21": 360px,
  "phone-small": 375px,
  "phone": 425px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 992px,
  "desktop-small": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1439px,
  "desktop-ultra": 1599px,
);

// Font name
$f-heading: "BentonModDisp", sans-serif;
$f-heading--secondary: "BentonModDispCond", sans-serif;
$f-text: "BentonSans", sans-serif;

// inline SVGs
$menu-arrow-down: url("data:image/svg+xml;utf8,<svg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.5 7L0.602886 0.250001L8.39711 0.25L4.5 7Z' fill='black'/></svg>");
$menu-arrow-up: url("data:image/svg+xml;utf8,<svg width='9' height='7' viewBox='0 0 9 7' style='transform: rotate(180deg)' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.5 7L0.602886 0.250001L8.39711 0.25L4.5 7Z' fill='black'/></svg>");
$menu-chat: url("data:image/svg+xml;utf8,<svg width='12' height='17' viewBox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.7972 9.59491C11.2652 9.01705 11.52 8.32323 11.52 7.61393C11.52 6.92687 11.2871 6.26326 10.8465 5.69487C10.4307 5.15855 9.84919 4.73116 9.16477 4.45895C9.04883 4.41284 8.91994 4.45356 8.8418 4.56092C8.76364 4.66826 8.75284 4.81945 8.81476 4.93965C9.04688 5.39028 9.16459 5.86745 9.16459 6.35795C9.16459 8.12959 7.60437 9.66172 5.45471 10.001C5.32454 10.0216 5.2224 10.1378 5.2048 10.2854C5.18722 10.433 5.25849 10.5759 5.37917 10.6348C5.9978 10.937 6.7048 11.0967 7.42374 11.0967C7.93175 11.0967 8.42701 11.019 8.89679 10.8658L11.2014 11.0954C11.21 11.0962 11.2186 11.0967 11.2272 11.0967C11.3343 11.0967 11.4338 11.0301 11.4851 10.9218C11.5406 10.8049 11.5293 10.6618 11.4564 10.5579C11.4523 10.5523 11.1106 10.065 10.7972 9.59491Z' fill='%23A0814C'/><path d='M8.61527 6.13192C8.61527 5.19756 8.18229 4.32429 7.39608 3.67298C6.63028 3.03859 5.61562 2.68921 4.53909 2.68921C3.46252 2.68921 2.44784 3.03859 1.68211 3.67298C0.895875 4.32429 0.462891 5.19756 0.462891 6.13192C0.462891 6.85129 0.730711 7.55551 1.22119 8.1359C1.22102 8.13617 1.22086 8.13643 1.22067 8.13673C0.891562 8.6327 0.514125 9.17078 0.509977 9.17678C0.456094 9.25349 0.447727 9.35919 0.488695 9.44554C0.526641 9.52552 0.600117 9.57466 0.679219 9.57463C0.685523 9.57463 0.691875 9.57434 0.698227 9.57368L3.05034 9.33932L3.05217 9.33913C3.52594 9.4954 4.02595 9.57461 4.53912 9.57461C5.61567 9.57461 6.63033 9.22523 7.3961 8.59084C8.18231 7.93955 8.61527 7.06628 8.61527 6.13192Z' fill='%23A0814C'/></svg>");
$menu-phone: url("data:image/svg+xml;utf8,<svg width='5' height='11' viewBox='0 0 5 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.208008 10.9H4.79134V0.699951H0.208008V10.9ZM1.88856 10.1444H3.11079C3.19634 10.1444 3.26356 10.2275 3.26356 10.3333C3.26356 10.4391 3.19634 10.5222 3.11079 10.5222H1.88856C1.80301 10.5222 1.73579 10.4391 1.73579 10.3333C1.73579 10.2275 1.80301 10.1444 1.88856 10.1444Z' fill='%23A0814C'/></svg>");
$booking-icon: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='13' height='13' stroke='white'/><rect y='0.176758' width='14' height='4.11765' fill='white'/></svg>");
$booking-icon--accent: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.5' y='0.5' width='13' height='13' stroke='black'/><rect y='0.176758' width='14' height='4.11765' fill='black'/></svg>");
$arrow-icon: url("data:image/svg+xml;utf8,<svg width='49' height='11' viewBox='0 0 49 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 6L49 6' stroke='%23151515' stroke-width='2'/><path d='M44.1694 10.6793C44.3819 9.52363 44.9217 8.4533 45.7247 7.59543C46.5276 6.73757 47.5599 6.12824 48.699 5.83984' stroke='%23151515' stroke-width='2'/><path d='M44.1694 1C44.3822 2.1555 44.9221 3.22566 45.725 4.08347C46.5279 4.94128 47.5601 5.55072 48.699 5.83941' stroke='%23151515' stroke-width='2'/></svg>");
$arrow-icon--accent: url("data:image/svg+xml;utf8,<svg width='49' height='11' viewBox='0 0 49 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 6L49 6' stroke='%23a98442' stroke-width='2'/><path d='M44.1694 10.6793C44.3819 9.52363 44.9217 8.4533 45.7247 7.59543C46.5276 6.73757 47.5599 6.12824 48.699 5.83984' stroke='%23a98442' stroke-width='2'/><path d='M44.1694 1C44.3822 2.1555 44.9221 3.22566 45.725 4.08347C46.5279 4.94128 47.5601 5.55072 48.699 5.83941' stroke='%23a98442' stroke-width='2'/></svg>");