.accordions {
  text-align: center;
  &-heading {
    padding: 0 20px;
    margin-bottom: 45px;
    letter-spacing: -0.03em;
    @include mq(tablet) {
      margin-bottom: vw(57px);
    }
  }
  h3.accordions-heading {
    @include typography(32px, 52px, 28px, 68px, 400, $f-heading, $primary);
  }
  h6.accordions-heading {
    @include typography(14px, 16px, 17.23px, 19.7px, 600, $f-text, $primary);
    letter-spacing: 0.2em;
  }
  .container {
    @include mq(tablet, max) {
      padding: 0;
    }
  }
}
.accordion {
  margin-bottom: 6px;
  border: 1px solid #4a4a4a;
  @include mq(tablet, max) {
    border-left: 0;
    border-right: 0;
  }
  @include mq(tablet) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &-title {
    position: relative;
    padding: 15px 40px;
    font: 600 12px/17.23px $f-text;
    letter-spacing: 0.2em;
    color: $primary;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @include mq(tablet) {
      padding: 11px 15px;
      line-height: 28px;
      &:hover {
        background-color: $accent;
        color: $c-white;
        &::before,
        &::after {
          background-color: $c-white;
        }
      }
    }
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      background-color: $c-black;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
      will-change: transform;
    }
    &::before {
      width: 10px;
      height: 2px;
      right: 20px;
    }
    &::after {
      width: 2px;
      height: 10px;
      right: 24px;
    }
    &.active {
      &::after {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  &-content {
    display: none;
    padding: 35px 15px;
    &__inner {
      @include mq(tablet) {
        margin: auto;
        max-width: vw(607px);
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 16px;
    }
    @include list-style();
    ul {
      margin: 30px auto 0;
      max-width: 350px;
      text-align: left;
      a {
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-content__menu {
    text-align: left;
    @include mq(tablet) {
      display: grid;
      padding-left: vw(85px);
      padding-right: vw(85px);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: vw(114px);
    }
    .col {
      @include mq(tablet) {
        &:only-child {
          grid-column: 1/3;
        }
      }
    }
  }
  &-menu {
    margin-bottom: 20px;
    @include mq(tablet) {
      margin-bottom: 50px;
    }
    &__title {
      margin-bottom: 30px;
      font: 700 12px/1 $f-text;
      letter-spacing: 0.25em;
      color: $c-gray-18;
    }
    &__list {

    }
    &__content {
      display: flex;
      margin-bottom: 15px;
      justify-content: space-between;
      p {
        font: 400 11px/16px $f-text;
        color: $c-black;
        letter-spacing: -0.015em;
      }
      &--info {
        margin-right: 20px;
        @include mq(tablet) {
          margin-right: vw(50px);
        }
        @include mq(desktop-wide) {
          margin-right: 50px;
        }
      }
      &--name {
        text-transform: uppercase;
      }
      &--price {
        line-height: 16px !important;
      }
    }
  }
}
