.experience-gallery {
  position: relative;

  @include mq_mobile_landscape() {
    margin-bottom: vw(50px);
  }

  @include mq(tablet) {
    padding: vw(570px) 0 vw(685px);
  }

  &__content {
    text-align: center;

    @include mq(tablet) {
      margin: auto;
      max-width: vw(600px);
    }
  }

  &__heading {
    margin-bottom: 90px;

    @include mq(tablet) {
      margin-bottom: vw(46px);
    }

    @include mq(desktop-wide) {
      margin-bottom: 46px;
    }

    h2 {
      @include typography(50px, 101px, 48px, 101px);

      @include mq(tablet, max) {
        text-align: center !important;
      }

      em {
        font-family: $f-heading--secondary;
        color: #9c7229;
      }

      &:last-child {
        @include typography(68px,
          109px,
          68px,
          205px,
          400,
          $f-heading--secondary);
        letter-spacing: -0.02em;

        @include mq(tablet, max) {
          margin-top: -10px;
        }
      }
    }
  }

  &__cta {
    min-width: 240px;

    @include mq(tablet, max) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__items {
    @include mq(tablet, max) {
      padding-bottom: 80px;
    }
  }

  &__item {
    position: relative;
    display: block;
    overflow: hidden;
    height: 400px;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    .img-a-img:before {
      padding-top: 400px;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 33%;
      background: linear-gradient(0, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.25;
    }

    @include mq(tablet) {
      position: absolute;

      &:nth-child(1) {
        top: vw(50px);
        left: vw(86px);
        width: vw(310px);
        height: vw(335px);

        .img-a-img:before {
          padding-top: calc((335 / 310) * 100%);
        }
      }

      &:nth-child(2) {
        top: 0;
        left: 50%;
        width: vw(340px);
        height: vw(420px);
        transform: translateX(-50%);

        .img-a-img:before {
          padding-top: calc((420 / 340) * 100%);
        }
      }

      &:nth-child(3) {
        top: vw(85px);
        right: 0;
        width: vw(340px);
        height: vw(420px);

        .img-a-img:before {
          padding-top: calc((420 / 340) * 100%);
        }
      }

      &:nth-child(4) {
        top: vw(760px);
        right: vw(45px);
        width: vw(310px);
        height: vw(335px);

        .img-a-img:before {
          padding-top: calc((335 / 310) * 100%);
        }
      }

      &:nth-child(5) {
        bottom: 0;
        right: vw(150px);
        width: vw(310px);
        height: vw(335px);

        .img-a-img:before {
          padding-top: calc((335 / 310) * 100%);
        }
      }

      &:nth-child(6) {
        bottom: vw(60px);
        left: vw(426px);
        width: vw(385px);
        height: vw(475px);

        .img-a-img:before {
          padding-top: calc((475 / 385) * 100%);
        }
      }

      &:nth-child(7) {
        left: vw(-30px);
        bottom: vw(140px);
        width: vw(310px);
        height: vw(335px);

        .img-a-img:before {
          padding-top: calc((335 / 310) * 100%);
        }
      }

      &:nth-child(8) {
        left: vw(-70px);
        top: vw(540px);
        width: vw(385px);
        height: vw(475px);

        .img-a-img:before {
          padding-top: calc((475 / 385) * 100%);
        }
      }

      &:hover {
        box-shadow: rgba(160, 129, 76, 0.8) 0 0 40px;
      }
    }

    &--image {
      position: absolute;
      @include cover-image();
      transition: transform .5s ease-in-out;
    }

    &--title {
      position: absolute;
      width: 100%;
      bottom: 20px;
      color: $secondary;
      text-align: center;
      z-index: 2;

      @include mq(tablet) {
        bottom: vw(40px);
      }
    }

    &--caption {
      position: absolute;
      padding: 10px 20px;
      top: 15px;
      right: 15px;
      font: 600 9px/11.08px $f-text;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $secondary;
      background: $accent;
      z-index: 2;

      @include mq(tablet) {
        padding: vw(10px) vw(20px);
        top: vw(15px);
        right: vw(15px);
      }
    }

    .insta-icon {
      position: absolute;
      bottom: 20px;
      right: 20px;
      line-height: 0;
      z-index: 2;

      @include mq(tablet) {
        bottom: vw(22px);
        right: vw(22px);
        width: vw(24px);
      }

      svg {
        max-width: 100%;
      }
    }
  }

  .slick-slide {
    margin: 0 5px;
  }
}