.hover-carousel-alt {
  &__inner {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__heading {
    margin-bottom: 26px;
    flex-grow: 1;
    text-align: center;
    @include typography(50px, 84px, 64px, 75px, 400, $f-heading, #2f2f2f);
    @include mq(tablet) {
      margin-bottom: 0;
      text-align: right;
    }
  }

  &__content {
    margin-bottom: 50px;
    text-align: center;
    @include mq(tablet) {
      margin-bottom: 0;
      margin-left: vw(82px);
      margin-right: vw(62px);
      max-width: vw(564px);
      text-align: left;
    }

    h6 {
      margin-bottom: 10px;
      letter-spacing: 0.25em;
      color: #181818;

      @include mq(tablet) {
        margin-bottom: 11px;
      }
    }
  }

  &__links {
    display: none;
    @include mq(tablet) {
      margin-top: vw(86px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mq_mobile_landscape() {
      display: none;
    }
    @include mq(desktop-wide) {
      margin-top: 86px;
    }
  }
  &__link {
    color: #0d0d0d;
    @include mq(tablet) {
      margin: 0 vw(20px);
    }
    @include mq(desktop-wide) {
      margin: 0 20px;
    }
    &.active::after {
      transform: scaleX(1);
    }
  }
  &__selects {
    position: relative;
    margin: 0 -20px 2px;
    padding: 20px 0;
    z-index: 3; 
    @include mq(tablet) {
      display: none;
    }
    @include mq_mobile_landscape() {
      display: block;
    }
    .jcf-select {
      font: 600 12px/14.77px $f-text;
      letter-spacing: 0.3em;
      color: #0d0d0d;
      text-align: center;
      border: none;
      &::after {
        position: static;
        margin-left: 10px;
        width: 8px;
        height: 4px;
        border: none;
        @include svgBackground(
          "<svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L4.8674 5L8.73481 1' stroke='%230D0D0D'/></svg>"
        );
      }
    }
    .jcf-list-content {
      padding: 16px 0;
      max-height: none !important;
      background-color: $background-color;
    }
    .jcf-list li span {
      padding: 0;
      font: 600 12px/50px $f-text;
      text-transform: uppercase;
      color: #0d0d0d;
      letter-spacing: 0.3em;
      text-align: center;
      border-bottom: 0;
    }
    .jcf-select-drop {
      padding-top: 16px;
      border: none;
      background: #0000;
    }
  }
  &__images {
    position: relative;
    height: 700px;
    overflow: hidden;
    @include mq(tablet) {
      height: vw(700px);
    }
    @include mq(desktop-wide) {
      height: 700px
    }
    &::before ,
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      z-index: 1;
      pointer-events: none;
    }
    &::before {
      top: -2px;
      height: 320px;
      background: linear-gradient(180deg, #FAF6EF 0%, rgba(250, 246, 239, 0) 100%);
      @include mq(tablet) {
        height: vw(320px);
      }
      @include mq(desktop-wide) {
        height: 320px;
      }
    }
    &::after {
      bottom: -2px;
      height: 250px;
      background: linear-gradient(0, #FAF6EF 0%, rgba(250, 246, 239, 0) 100%);
      @include mq(tablet) {
        height: vw(250px);
      }
      @include mq(desktop-wide) {
        height: 250px;
      }
    }
  }
  .hover-section__image {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    &.hover,
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    @include cover-image();
    transform: translate(-50%, -50%);
  }
  &__text {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    z-index: 2;
  }
}