.loop-room {
  display: flex !important;
  padding: 0 6px;
  height: inherit;
  flex-direction: column;
  @include when-inside('.column') {
    @include mq(tablet) {
      margin-bottom: 60px;
    }
  }

  &__slider {
    position: relative;
  }

  .slick-dots {
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 0;
    text-align: center;
    z-index: 2;
    @include mq(tablet) {
      bottom: 30px;
      left: 30px;
      text-align: left;
    }

    li button {
      background-color: $secondary;
      @include mq(tablet, max) {
        width: 6px;
        height: 6px;
      }
    }
  }

  &__slides {
    margin-bottom: 0 !important;

    @include mq(tablet) {
      margin-bottom: vw(30px) !important;
    }

    @include mq(desktop-wide) {
      margin-bottom: 30px !important;
    }
  }

  &__slide {
    height: 580px !important;
    @include mq(tablet) {
      height: vw(650px) !important;
    }

    @include mq(desktop-wide) {
      height: 650px !important;
    }

    &::after {
      height: 165px;
      opacity: 0.6
    }

    img {
      @include cover-image();
    }
  }

  &__size {
    position: absolute;
    padding: 6px 20px;
    top: 15px;
    left: 15px;
    @include typography(10px, 12px, 28px, 28px, 400, $f-text, $c-gray-2f);
    background-color: $c-white;
    z-index: 2;

    @include mq(tablet) {
      padding: 6px 30px;
      top: 30px;
      left: auto;
      right: 30px;
    }
  }

  &__content {
    @include mq(tablet, max) {
      text-align: center;
    }
    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 0;
    letter-spacing: -0.02em;
    color: $c-gray-2f;
    @include mq(tablet, max) {
      margin-bottom: 15px;
    }
  }

  .button-groups {
    @include mq(tablet, max) {
      display: flex;
      flex-direction: column-reverse;
    }
    @include mq(tablet) {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }


    .btn {
      flex:  0 0 50%;
      letter-spacing: 0.3em;
      @include mq(tablet, max) {
        padding: 10px 5px;
      }
    }
  }

  .btn-amentities {
    border: none;
    @include mq(tablet, max) {
      margin-top: 10px;
    }
    &:hover {
      background-color: #0000;
      color: $accent;
    }
  }
  &__content {
    @include mq(tablet, max) {
      padding: 25px 12px 20px;
    }
  }
  &__matterport {
    position: absolute;
    top: svw(12px);
    left: svw(12px);
    @include mq(tablet) {
      top: vw(20px);
      left: vw(27px);
    }
    @include mq(desktop-wide) {
      top: 20px;
      left: 27px;
    }
    svg {
      transition: transform .3s ease-in-out;
      will-change: transform;
    }
    &:hover svg {
      transform: scale(1.1);
    }
  }
  &__fullscreen {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    @include mq(tablet) {
      top: auto;
      bottom: vw(60px);
      right: 30px;
    }
    @include mq(desktop-wide) {
      bottom: 60px;
    }
  }
}