.loop-venues {
  padding: 0 10px;

  @include mq(tablet) {
    padding: 0 13px;
  }

  &--img {
    position: relative;
    overflow: hidden;

    @include mq(tablet) {
      height: vw(750px);
      max-height: 750px;
    }
    &::before {
      position: absolute;
      content: '';
      top: 0;
      width: 100%;
      height: 185px;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.5;
      pointer-events: none;
      z-index: 1;
    }
    &::after {
      background: linear-gradient(0, #3C3C3C 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.5;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      @include cover-image();
      transition: all .5s ease-in-out;
    }
  
  }

  &--title {
    position: absolute;
    padding: 0 10px;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: $c-white;
    z-index: 3;
    @include typography(12px, 16px, 14px, 19px, 600, $f-text, $c-white);
  }

  &--excerpt {
    margin-top: 24px;
    color: $c-black;
    font-size: 14px;
    text-align: center;
    transition: color .3s ease-in-out;
    &:hover {
      color: $accent;
    }
  }

  &--info {
    position: absolute;
    display: none;
    top: 20px;
    left: 0;
    padding: 0 20px;
    width: 100%;
    text-align: right;
    @include typography(10px, 12px, 12px, 14px, 600, $f-text, $c-white);
    letter-spacing: 0.3em;
    z-index: 2;
    span {
      display: inline-block;
      padding: 10px;
      background-color: $accent;
      text-align: center;
      @include mq(tablet, max) {
        font-size: 10px;
        &:not(:only-child):first-child {
          position: relative;
          &::after {
            position: absolute;
            content: '';
            height: 10px;
            top: 50%;
            right: 0;
            border-right: 1px solid $c-white;
            transform: translateY(-50%);
          }
        }
      }
      @include mq(tablet) {
        margin: 5px;
      }
    }
  }

  &--matterport {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
    @include mq(tablet) {
      top: 20px;
      left: 28px;
    } 
  }
}