.loop-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include mq(tablet, max) {
    margin-bottom: 40px;
    margin-left: -20px;
    width: calc(100% + 40px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    line-height: 0;
    cursor: pointer;
    img {
      transition: transform .5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    .img-a-img::before {
      padding-top: 500px;
      @include mq(tablet) {
        padding-top: 124.78%;
      }
      @include mq(desktop-wide) {
        padding-top: 730px;
      }
    }
  }
  &__category {
    position: absolute;
    padding: 10px;
    top: 20px;
    right: 20px;
    font: 600 10px/12px $f-text;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: $accent;
    color: $secondary;
    z-index: 1;

    @include mq(tablet) {
      top: vw(30px);
      right: vw(30px);
      padding: vw(10px) vw(20px);
    }
    @include mq(desktop-wide) {
      padding: 10px 20px;
      top: 30px;
      right: 30px;
    }
  }
  &__btn {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #0d0d0d;
    @include when-inside('.loop-offers') {
      @include typography(12px, 14px, 28px, 28px, 600, $f-text, $c-white);
    }
  }
  &__content {
    flex-grow: 1;
    @include mq(tablet, max) {
      padding: 0 20px;
    }
    @include when-inside('.loop-offers') {
      @include mq(tablet) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__title {
    margin: 37px 0 13px;
    font: 600 16px/18.14px $f-text;
    letter-spacing: 0.3em;
    color: #0d0d0d;
    @include mq(tablet) {
      margin: vw(44px) 0 vw(18px);
    }
    @include mq(desktop-wide) {
      margin: 44px 0 18px;
    }
    @include when-inside('.loop-offers') {
      margin: 23px 0 15px;
      @include typography(14px, 16px, 17.23px, 19.7px, 600, $f-text, $c-gray-0d);
      @include mq(tablet) {
        margin: vw(26px) 0 vw(16px);
      }
      @include mq(desktop-wide) {
        margin: 26px 0 16px;
      }
    }
  }
  &__excerpt {
    color: #0d0d0d;
    @include typography(13px, 16px, 20px, 24px, 400, $f-text, #0d0d0d);
    @include mq(tablet) {
      margin: 0 auto;
      max-width: vw(430px);
    }
    @include when-inside('.loop-offers') {
      margin-bottom: 42px;
      @include typography(14px, 16px, 20px, 24px, 400, $f-text, #0d0d0d);
      @include mq(tablet) {
        margin-bottom: vw(34px);
      }
      @include mq(desktop-wide) {
        margin-bottom: 34px;
      }
    }
  }
  &__link {
    margin: auto auto 0;
    width: 300px;
    border-color: $c-gray-0d;
    @include mq(tablet, max) {
      color: $c-black;
    }
    @include mq(tablet) {
      width: 225px;
      font-size: 11px;
    }
  }
}
