.loop-press {
  margin-bottom: 60px;
  @include mq(tablet) {
    margin-bottom: 0;
  }
  &__image {
    margin-bottom: 30px;
    height: 585px;
    overflow: hidden;
    @include mq(tablet) {
      height: vw(560px);
      max-height: 560px;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      @include cover-image();
      transition: transform .5s ease-in-out;
      will-change: transform;
    }
  }
  &__content {
    padding: 0 30px;
    margin-top: 30px;
    text-align: center;
    @include mq(tablet) {
      padding: 0 vw(60px);
      margin-top: 35px;
    }
  }
  &__title {
    margin-bottom: 10px;
    // @include typography(12px, 14px, 14px, 16px, 700, $f-text, $c-gray-0d);
    transition: color .3s ease-in-out;
    &:hover {
      color: $accent;
    }
    @include mq(tablet) {
      margin-bottom: 14px;
    }
  }
  &__desc {
    @include typography(12px, 14px, 18px, 21px, 400, $f-text, $c-black);
  }
  &__date {
    display: none;
    @include mq(tablet) {
      display: block;
      margin-bottom: 25px;
      font: 400 14px/17.23px $f-text;
      letter-spacing: 0.2em;
      color: $c-gray-0d;
    }
  }
}