.page-block {
  &__heading {
    margin-bottom: 20px;
    @include typography(32px, 36px, 64px, 64px, 400, $f-heading, $primary);
    text-align: center;
    @include mq(tablet) {
      margin-bottom: vw(28px);
    }
    @include mq(desktop-wide) {
      margin-bottom: 28px;
    }
  }

  &__banner {
    position: relative;
    height: 580px;
    overflow: hidden;
    @include mq(tablet) {
      height: vw(750px);
    }
    @include mq(desktop-wide) {
      height: 750px;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      @include cover-image();
      transition: transform .5s ease-in-out;
    }
    &::after {
      height: 100%;
      opacity: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      @include typography(50px, 74px, 64px, 64px, 400, $f-heading, $secondary);
      letter-spacing: -0.04em;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    &--content {
      position: absolute;
      left: 0;
      bottom: 30px;
      width: 100%;
      text-align: center;
      z-index: 2;
      @include mq(tablet) {
        bottom: vw(70px);
      }
      @include mq(desktop-wide) {
        bottom: 70px
      }
    }
    &--title {
      @include typography(45px, 82px, 45px, 64px, 400, $f-heading, $c-white);
      @include mq(tablet) {
        margin-bottom: 30px;
      }
    }
    &--desc {
      @include typography(10px, 11px, 16px, 12.47px, 600, $f-text, $c-white);
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }
  }
}