.room-options {
  &__heading {
    margin-bottom: 20px;
    font: 400 32px/44px $f-heading;
    text-align: center;
    color: #1e1e1e;
    @include mq(tablet, max) {
      color: #060606;
    }
    @include mq(tablet) {
      margin-bottom: 35px;
    }
  }

  &__row {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
  &__column {
    @include mq(tablet) {
      &:only-child {
        grid-column: 1/3;
      }
    }
  }
  &__col {
    @include mq(tablet, max) {
      margin-bottom: 45px;
    }

    .content {
      position: relative;

      @include mq(tablet) {
        height: vw(730px);
        max-height: 730px;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        pointer-events: none;
      }

      &::before {
        top: 0;
        height: 108px;
        background: linear-gradient(180deg, #000000 0%, rgba(5, 5, 5, 0) 100%);
        opacity: 0.4;

        @include mq(tablet) {
          height: 118px;
        }
      }

      &::after {
        bottom: 0;
        height: 230px;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.5;
        transform: rotate(180deg);

        @include mq(tablet) {
          height: 245px;
        }
      }
    }

    .matterport {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 1;

      @include mq(tablet) {
        top: 26px;
        left: 34px;
      }
    }

    .size {
      position: absolute;
      top: 20px;
      right: 20px;
      font: 500 16px/19.2px $f-text;
      text-align: right;
      color: $c-white;
      letter-spacing: 0.25em;
      z-index: 1;

      @include mq(tablet) {
        top: 30px;
        right: 30px;
      }
    }

    .bedroom {
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;
      text-align: center;
      @include typography(12px, 16px, 14.77px, 19.7px, 600, $f-text, $c-white);
      letter-spacing: 0.25em;
      text-transform: uppercase;
      z-index: 1;

      @include mq(tablet) {
        bottom: 40px;
      }
    }

    .image {
      @include cover-image();
    }

    .buttons {
      display: flex;

      @include mq(tablet, max) {
        flex-direction: column-reverse;
      }

      .btn {
        width: 100%;

        @include mq(tablet) {
          flex: 0 0 50%;
        }
        @include mq_mobile_landscape() {
          font-size: 12px;
          padding: 6px;
        }
      }

      .btn-view-detail {
        position: relative;
        font-weight: 500;
        color: #212121;
        @include mq(tablet) {
          color: $c-black;
          &:hover {
            color: $c-white;
          }
        }
        &.active {
          &::after {
            position: absolute;
            content: '';
            left: 50%;
            bottom: -52px;
            width: 25px;
            height: 15px;
            @include svgBackground("<svg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.09455 14.5L12.9921 0.763763L24.8864 14.5H1.09455Z' fill='%23EFEAE1' stroke='%23A3906E'/></svg>");

            @include mq(tablet) {
              bottom: -67px;
            }
          }
        }
      }
    }
  }
  &__detail {
    display: none;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 80px;
    background-color: #F5EAD8;
    @include mq(tablet) {
      display: none !important;
    }
    .tab-content__text {
      padding: 0 20px;
    }
  }

  .tab {
    display: none;
    @include mq(tablet, max) {
      display: none !important;
    }
    &-slider {
      margin-top: 50px;
      background: #F5EAD8;

      @include mq(tablet) {
        border-top: 1px solid #A3906E;
        border-bottom: 1px solid #A3906E;
        margin-top: 65px;
      }
    }

    &-content {
      padding-bottom: 80px;

      @include mq(tablet) {
        padding-top: 72px;
        padding-bottom: 86px;
      }

      &__title {
        margin-bottom: 10px;
        @include typography(12px, 16px, 14.4px, 18.14px, 500, $f-text, #0d0d0d);
        @include mq(tablet) {
          font-weight: 600;
        }
      }
      &__desc {
        @include typography(12px, 14px, 18px, 22px, 400, $f-text, #0d0d0d);
        letter-spacing: 0.01em;
        @include mq(tablet) {
          width: vw(520px);
          max-width: 520px;
        }
      }
    }

    .slide {
      &-img {
        height: 465px;
      }

      &-title {
        @include typography(12px, 16px, 14.4px, 18.14px, 600, $f-text, #0d0d0d);
      }
      &-caption {
        @include typography(10px, 14px, 12px, 15.87px, 500, $f-text, $c-white);
      }

      &-desc {
        color: #0d0d0d;
      }
    }
  }
}