.two-columns {
  .row {
    @include mq(tablet) {
      position: relative;
      display: flex;
    }
  }
  .container {
    @include mq(tablet, max) {
      padding: 0 30px;
    }
  }
  .col {
    padding: 0;
    @include mq(tablet) {
      padding: 0 vw(100px);
      flex: 0 0 50%;
    }
    @include mq(desktop-wide) {
      padding: 0 100px;
    }
    &-left {
      margin-bottom: 70px;
      @include mq(tablet) {
        margin-bottom: 0;
      }
    }
    a:not(.btn,.cta,.link) {
      color: $primary;
      &:hover {
        color: $accent;
      }
    }
  }
  .line {
    display: none;
    @include mq(tablet) {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $c-black;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
  }
  p {
    @include mq(tablet) {
      max-width: vw(476px);
    }
  }
  @include list-style();
}
