// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Header styles
.header {
  position: fixed;
  padding: 20px;
  width: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  @include adminbar-offset();

  @include mq(tablet) {
    padding: 30px 40px 45px;
  }

  &:not(.sticky).header--light {
    background-color: #0000;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    background: linear-gradient(180deg, #000000 0%, rgba(35, 35, 35, 0.526042) 47.92%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;

    @include mq(tablet) {
      height: vw(170px);
    }
    @include when-inside('.single-room') {
      background: linear-gradient(180deg, #000000 0%, rgba(35, 35, 35, 0.526042) 47.92%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.6;
    }
  }

  &.sticky {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 90px;
      background: linear-gradient(180deg, #000000 0%, rgba(35, 35, 35, 0.61) 47.92%, rgba(0, 0, 0, 0.52) 100%);
      opacity: 0.7;
      z-index: -1;
      @include mq(tablet) {
        height: 169px;
        background: linear-gradient(180deg, #000000 0.11%, rgba(0, 0, 0, 0) 100.11%);
        opacity: 0.63;
      }
    }

    @include when-inside(".admin-bar") {
      @media screen and (max-width: 600px) {
        top: 0;
      }
    }
  }
  &.header--second-light,
  &.header--room {
    &.sticky {
      background-color: $background_color;
      border-bottom: 1px solid $primary;
      &::after {
        content: none;
      }
      .hamburger span {
        border-color: $primary;
      }
      .header-nav__menus>.menu-item>.nav-link {
        color: $primary;
        &::after {
          border-color: $primary;
        }
      }
    }
  }
  &.header--room {
    &::after {
      background: linear-gradient(178.55deg, #F9F9F7 1.34%, rgba(249, 249, 247, 0) 98.77%);
    }
  }
  &.header--second-light {
    &::after {
      background: linear-gradient(180deg, #000000 0.11%, rgba(0, 0, 0, 0) 100.11%);
      opacity: 0.63;
    }
    .header-logo__dark {
      display: none;
    }
    &.sticky {
      .header-logo {
        display: none;
      }
      .header-logo__dark {
        display: block;
      }
    }
  }
  
  &.header--simple {
    background-color: $background_color;
    @include mq(tablet, max) {
      border-bottom: 1px solid $primary;
    }
    &::after {
      content: none;
    }
    .hamburger span {
      border-color: $c-black;
    }
  }
  
  &-cta.btn {
    position: relative;
    margin-left: auto;
    border-color: $c-black;
    font-weight: 600;
    @include mq(tablet, max) {
      display: none !important  ;
    }
    @include mq(tablet) {
      display: block;
      padding: 6px 40px 6px 20px;
      width: 200px;
    }
    @include mq(desktop-wide) {
      width: 280px;
    }
    @include when-inside(".mobile") {
      @include orientation(landscape) {
        width: 220px;
        font-size: 10px;
      }
    }
    .header--room &,
    .header--simple & {
      background-color: $accent;
      color: $c-white;
      &:hover {
        background-color: $c-black;
        border-color: $c-black;
      }
      rect {
        &:first-child {
          stroke: $c-white;
        }
        &:last-child {
          fill: $c-white;
        }
      }
    }

    svg {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      rect {
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {
      rect:first-child {
        stroke: $c-white;
      }

      rect:last-child {
        fill: $c-white;
      }
    }
  }

  &-cta--mobile.btn {
    position: fixed;
    padding: 11px 20px;
    margin: 0 !important;
    left: 50%;
    bottom: 0;
    background: #A98442;
    color: $c-white;
    border: none;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
    background-image: $booking-icon !important;

    @include mq(phablet) {
      width: auto;
      min-width: 375px;
    }

    @include mq(tablet) {
      display: none !important;
    }
  }

  &.header--booking {
    background-color: $background_color !important;
    @include mq(tablet, max) {
      border-bottom: 1px solid;
    }
    &::after {
      content: none;
    }
    .header-nav {
      justify-content: space-between;
    }
    .hamburger span {
      border-color: $primary;
    }
    .logo-link {
      @include mq(tablet, max) {
        img:not(.header-logo__scroll) {
          display: none !important;
        }
        .header-logo__scroll {
          display: block !important;
        }
      }
      @include mq_mobile_landscape() {
        top: 15px;
        img:not(.header-logo__scroll) {
          display: none !important;
        }
        .header-logo__scroll {
          display: block !important;
        }
      }
    }
  }
  &-logo,
  &-logo__dark {
    width: 200px;
    @include mq(tablet) {
      width: 210px;
    }
    @include mq(desktop) {
      width: 300px;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
  @include mq(tablet, max) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .logo-link {
    transition: none;

    @include mq(tablet) {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 300px;
    }
  }

  
  .main-menu__wrapper {
    display: none;
    @include mq(desktop) {
      display: block;
      margin-left: 24px;
    }
  }

  &__menus {
    display: flex;
    align-items: center;

    .nav-item {
      margin: 0 10px;
      &:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    .nav-link {
      @include button-text();
      @include button-underline(1px, $c-black);
      padding-bottom: 0;
      color: $c-black;
      letter-spacing: 0.06em;
      .header--light &,
      .header--second-light & {
        color: $c-white;
        &::after {
          border-color: $c-white;
        }
      }
    }
    > .menu-item {
      position: relative;
      > .nav-link {
        text-transform: uppercase;
      }
    }
    .dropdown-menu {
      position: absolute;
      padding-top: 20px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      .menu-item {
        margin: 0;
        margin-top: -1px;
        padding: 8px 10px;
        min-width: 170px;
        background-color: $background_color;
        border: 1px solid $c-gray-71;
        text-align: center;
        &:hover a {
          color: $accent;
        }
        a {
          font: 400 12px/2 $f-text;
          letter-spacing: 0.01em;
          color: $c-gray-33;
          
        }
      }
    }
  }
}

.header-menu {
  position: fixed;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  background-color: $background_color;
  transition: all 0.5s ease-in-out;
  transform: translateY(-200%);
  z-index: 100;
  @include adminbar-offset();
  @include mq(tablet, max) {
    top: 0 !important;
    overflow: auto;
  }
  @include mq_mobile_landscape() {
    height: 100vh;
  }

  @include mq(tablet) {
    width: vw(1000px);
    max-height: 100vh;
    box-shadow: 29px 0px 53px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in-out cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(-100%);
    overflow: auto;
    @include custom-scrollbar();
  }

  @include when-inside(".header--open") {
    transform: none;
  }

  &__top {
    padding: 20px 30px;
    display: flex;
    align-items: center;

    @include mq(tablet, max) {
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    @include mq(tablet) {
      padding: 30px;
      padding: vw(30px);
    }

    @include mq(desktop-wide) {
      padding: 30px;
    }
  }

  .divider {
    display: none;
    margin: 0 30px;
    width: 1px;
    height: 52px;
    background-color: $c-black;

    @include mq(tablet) {
      display: block;
    }
  }

  .logo-link {
    line-height: 1;
    img {
      width: 66px;
    }
  }

  .menu-main-menu-container {
    text-align: right;
    padding: 45px 50px 45px 35px;

    @include mq(tablet) {
      padding: vw(40px) vw(170px);
    }

    @include mq(desktop-wide) {
      padding: 40px 170px;
    }
  }

  a {
    @include mq(tablet) {
      &:hover {
        color: $accent !important;
      }
    }
  }

  .current-menu-item>a {
    color: $accent !important;
  }

  .nav-link {
    display: inline-block;

    &--main {
      >a {
        @include typography(36px, 45px, 45px, 50px, 400, $f-heading, #2f2f2f);
        letter-spacing: 0.01em;
      }

      .dropdown-toggle {
        position: relative;

        .arrow {
          position: absolute;
          content: "";
          top: 50%;
          right: -27px;
          width: 0;
          height: 0;
          border-width: 11px 5.5px 0 5.5px;
          border-style: solid;
          border-color: #a0814c transparent transparent transparent;
          transform: translateY(-50%);
          transition: transform 0.3s ease-in-out;

          @include mq(tablet) {
            right: vw(-34px);
            border-width: 16px 8px 0 8px;
          }

          @include mq(desktop-wide) {
            right: -34px;
          }
        }

        &.dropdown--open .arrow {
          transform: translateY(-50%) rotate(-180deg);
        }
      }

      .dropdown-menu {
        display: none;
        padding: 20px 0;

        @include mq(tablet) {
          padding: vw(53px) 0 vw(37px);
        }

        .dropdown-item {
          display: inline-block;
          margin-bottom: 1em;
          @include typography(11px,
            14px,
            13.54px,
            17.23px,
            600,
            $f-text,
            $primary);
          text-transform: uppercase;
          letter-spacing: 0.48em;
        }
      }
    }

    &--secondary__first {
      margin-top: 44px;

      @include mq(tablet) {
        margin-top: vw(40px);
      }

      @include mq(desktop-wide) {
        margin-top: 40px;
      }
    }

    &--secondary a {
      margin-bottom: 1em;
      @include typography(11px, 14px, 13.54px, 17.23px, 600, $f-text, $primary);
      text-transform: uppercase;
      letter-spacing: 0.48em;
    }

    &--icon a {
      padding-right: 20px;
      @include typography(11px, 13px, 17px, 17px, 600, $f-text, #434343);
      text-transform: uppercase;
      letter-spacing: 0.48em;
      background-repeat: no-repeat;
      background-position: right;
    }

    &--chat a {
      margin-top: 44px;
      background-image: $menu-chat;

     
      @include mq(tablet) {
        margin-top: vw(40px);
      }
      @include mq(desktop-wide) {
        margin-top: 40px;
      }
    }

    &--phone a {
      background-image: $menu-phone;
      margin-top: 30px;
      @include mq(tablet) {
        margin-top: vw(40px);
      }

      @include mq(desktop-wide) {
        margin-top: 40px;
      }
    }
  }

  // .nav-link--main ~ .nav-link--secondary {
  //   @include mq(tablet) {
  //     margin-top: vw(40px);
  //   }
  // }
}

.hamburger {
  span {
    display: block;
    margin-bottom: 7px;
    width: 40px;
    border: 1px solid $secondary;
    transform-origin: left;

    @include mq(tablet) {
      border-color: $primary;
      @include when-inside(':not(.header--dark)') {
        border-color: $secondary;
      }
    }

    @include when-inside('.header--dark') {
      @include mq(tablet) {
        border-color: $primary;
      }
    }
    @include when-inside('.header--room') {
      @include mq(tablet) {
        border-color: $primary;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    span {
      &:first-child {
        animation: 1s animationWidth 0s ease-in-out alternate infinite;
      }

      &:last-child {
        animation: 1s animationWidth 0.3s ease-in-out alternate infinite;
      }
    }
  }

  &-close {
    transition: transform .5s ease-in-out;

    // &:hover {
    //   transform: rotate(360deg);
    // }
  }
}

.booking-popup__close {
  display: none;
  transition: transform .5s ease-in-out;
  @include when-inside('.header--booking') {
    @include mq(tablet) {
      display: block;
    }
  }
  &:hover {
    transform: rotate(360deg);
  }
}

@keyframes animationWidth {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0.5);
  }
}

.secondary-nav {
  width: 100%;
  &.secondary-nav--fixed {
    position: fixed;
    top: 80px;
    padding: 12px 0 !important;
    background-color: $background_color;
    border-bottom: 1px solid $primary;
    z-index: 9;
    @media only screen and (min-width: 600px) {
      top: 90px;
      @include when-inside('.admin-bar') {
        top: 150px;
      }
    }
    @include mq(tablet) {
      padding: 20px 0 !important;
      top: 115px;
    }
  }
  &__mobile {
    @include mq(tablet) {
      display: none;
    }

    .jcf-list-content {
      padding: 32px 0 16px;
      max-height: none !important;
    }

    .jcf-select {
      padding-top: 30px;
      padding-bottom: 23px;
      border: none;
      border-bottom: 1px solid $primary;
      font-size: 12px;
      line-height: 17.23px;
      text-align: center;
      &-drop {
        left: 0;
        top: 70px;
        @include when-inside('.secondary-nav--fixed') {
          top: 46px;
        }
      }
      @include when-inside('.secondary-nav--fixed') {
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        color: #0d0d0d;
        transition: none;
      }
      &::after {
        position: static;
        margin-left: 10px;
        width: 8px;
        height: 4px;
        border: none;
        @include svgBackground("<svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L4.8674 5L8.73481 1' stroke='%230D0D0D'/></svg>");
        @include when-inside('.secondary-nav--fixed') {
          position: absolute;
          height: 8px;
        }
      }
    }

    .jcf-list li span {
      padding: 0;
      font: 600 12px/50px $f-text;
      text-transform: uppercase;
      color: #0d0d0d;
      letter-spacing: 0.3em;
      text-align: center;
      border-bottom: 0;
    }
  }

  &__desktop {
    display: none;

    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    @include mq(tablet) {
      padding: 0 vw(20px);
    }

    @include mq(desktop-wide) {
      padding: 0 20px;
    }
  }

  &__link {
    font: 600 14px/17.23px $f-text;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: $primary;
    @include button-circle();
    @include when-inside('.secondary-nav--fixed') {
      &::after {
        content: none;
      }
      &:hover {
        color: $accent !important;
      }
    }
    &:hover {
      opacity: 1;
    }
  }

}