.dining-info {
  margin: 150px 0 50px;
  text-align: center;
  @include mq(tablet) {
    margin: 250px 0 100px;
  }
  &__inner {
    @include mq(tablet) {
      margin: 0 auto;
      max-width: 530px;
    }
  }
  h1 {
    margin-bottom: 30px;
    @include mq(tablet) {
      margin-bottom: 50px;
    }
  }
  h6 {
    margin-bottom: 15px;
  }
  &__cta {
    margin-top: 30px;
  }
}
.dining-grid {
  margin-bottom: 100px;
  @include mq(tablet) {
    display: grid;
    margin-bottom: 200px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: vw(90px) vw(30px);
  }
  @include mq(desktop-wide) {
    grid-gap: 90px 30px;
  }
  .dining {
    margin-bottom: 50px;
    @include mq(tablet) {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    &-image {
      display: block;
      margin-bottom: 30px;
      height: 450px;
      overflow: hidden;
      @include mq(tablet) {
        height: vw(730px);
        max-height: 730px;
      }
      &:hover img {
        transform: scale(1.05);
      }
      img {
        @include cover-image();
        transition: all .5s ease-in-out;
      }
    }
    &-content {
      text-align: center;
    }
    &-title {
      display: inline-block;
      margin-bottom: 20px;
      color: $c-black;
      &:hover {
        color: $accent;
      }
    }
  }
}