.post-type-archive-tribe_events {
    .event-info {
      margin-top: 150px;
      margin-bottom: 0;
      @include mq(tablet) {
        margin-top: 200px;
        margin-bottom: 30px;
      }
      @include mq(desktop-wide) {
        margin-top: 280px;
        margin-bottom: 50px;
      }
      p {
        @include mq(tablet) {
          max-width: 530px;
          margin: auto;
        }
      }
    }
}