.page-experiences {
  .post-two-cols__heading {
    @include mq(tablet, max) {
      color: $c-gray-0d;
    }
  }
  .post-two-cols__content {
    h6 {
      @include typography(10px, 14px, 12.31px, 17.23px, 600, $f-text, $c-gray-18);
    }
    @include mq(tablet, max) {
      h6 {
        color: $c-gray-0d;
      }
      p {
        color: $c-gray-0d;
      }
    }
  }
  .loop-people__excerpt {
    color: $c-gray-0d;
  }
  .people-slider__heading { 
    @include typography(42px, 66px, 64px, 66px, 400, $f-heading, $c-gray-0d);
  }
  .loop-offer {
    @include mq(tablet, max) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
  .offers-module__subheading {
    @include typography(10px, 14px, 12.31px, 17.23px, 600, $f-text, $c-gray-0d);
    @include mq(tablet) {
      color: $c-gray-18;
    }
  }
}